div(layout="row", flex="20", layout-align="center center")
    img.st-main-logo(src="assets/images/stethoscope.png")
div(layout="column", flex, layout-align="start center")
  .st-login-box-content(flex="90", style="width: 50%")
    div(layout="column", layout-align="none center")
      h1 Sign Up
      formly-form(model="reg.model", fields="reg.fields", class="st-registration-form st-formly-full-width")