div(layout="row", flex="20", layout-align="center center")
    img.st-main-logo(src="assets/images/stethoscope.png")
div(layout="row", flex, layout-align="center start")
  br
  .st-login-box-content(flex="50")
    div(layout="column", layout-align="center center")
      h1 Sign Up
      formly-form(model="reg.model", fields="reg.fields")