<md-toolbar class="md-primary" layout="row" layout-align="center center">
  <span flex="95" layout-align="left center">
    <md-button class="md-icon-button" ng-click="appController.openMainMenu()" aria-label="Open main menu">
      <md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
    </md-button>
  </span>
  <span flex="5" layout-align="right center">
    <md-button class="st-white md-icon-button" ng-click='vm.auth.logout()' ui-sref='login'>
      <ng-md-icon icon="logout" size="24"></ng-md-icon>
    </md-button>
  </span>
</md-toolbar>