.st-navbar-logo {
  background-image: url("../../assets/images/stethoscope-navbar-logo.png");
  background-repeat: no-repeat;
  height: 35px;
  width: 160px;
  margin: auto;
}

.st-logout-icon {
  text-align: right;
}