md-toolbar.md-primary(layout="row", layout-align="center center")
  .md-toolbar-tools
    md-button.md-icon-button(ng-click="vm.openMainMenu()", aria-label="Open main menu")
      md-icon(md-svg-icon="navigation:ic_menu_24px")
    div(flex)
      .st-navbar-logo
    md-button.st-white.md-icon-button(ng-click="vm.auth.logout()", ui-sref="login")
      ng-md-icon(icon="logout", size="24")