md-toolbar.md-primary(layout="row", layout-align="center center")
  span(flex="45", flex-xs="10", layout-align="left center")
    md-button.md-icon-button(ng-click="appController.openMainMenu", aria-label="Open main menu")
      md-icon(md-svg-icon="navigation:ic_menu_24px")
  div(flex="50", flex-xs="80", layout-align="right center")
    .st-navbar-logo(flex-offset-xs="30")
  span.st-logout-icon(flex="5", flex-xs="10", layout-align="right center")
    md-button.st-white.md-icon-button(ng-click="vm.auth.logout()", ui-sref="login")
      ng-md-icon(icon="logout", size="24")