.st-md-toolbar-side-menu {
	display: flex;
  flex: 1;
	min-height: 100%;
	md-sidenav {
  	overflow: visible;
	}
}
.st-nav-header {
	border-bottom: 1px solid $color_spectra_approx;
	flex-shrink: 0;
	z-index: 2;
	.st-docs-logo {
		text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 16px;
    margin: 0 auto;
	}
}
.side-menu {
	list-style: none;
  padding: 0;
  margin-top: 0;
	li {
		border-top: 1px solid rgba(0, 0, 0, 0.12);
		margin: 0;
	}
	.md-button {
		border-radius: 0;
		cursor: pointer;
		font-weight: 400;
		line-height: 40px;
		margin: 0;
		max-height: 40px;
		text-align: left;
		text-decoration: none;
		white-space: normal;
		width: 100%;
		&:focus, &:hover, &.active {
			background: $color_gossamer_18_approx !important;
		}
	}

	.menu-toggle-list {
		list-style: none;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
		background: #fff;
		max-height: 300px;
		overflow: hidden;
		position: relative;
		z-index: 1;
		-webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
		-webkit-transition-property: max-height;
		-moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
		-moz-transition-property: max-height;
		transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
		transition-property: max-height;
		a.md-button {
			display: block;
			padding: 0 16px 0 32px;
			text-transform: none;
			text-rendering: optimizeLegibility;
			font-weight: 500;
		}
		&.ng-hide {
			max-height: 0;
		}

		.md-button {
			display: block;
			padding: 0 16px 0 32px;
			text-transform: none;
		}
	}

	.md-button-toggle {
		.md-toggle-icon {
			&.toggled {
				transform: rotateZ(180deg);
				-webkit-transform: rotateZ(180deg);
			}

			background-size: 100% auto;
			display: inline-block;
			margin: auto 0 auto auto;
			width: 15px;
			color: darkgray;
			transition: transform .3s ease-in-out;
			-webkit-transition: -webkit-transform .3s ease-in-out;
		}		
	}

	.menu-toggle {
		span {
			padding-top: 12px;
  		padding-bottom: 12px;
		}
	}
}