form#login-content {
	& > * {
		max-width: 500px;
	}

	& > .md-warn {
		padding-bottom: 20px;
	}
	& > md-input-container:first-child {
		margin-bottom: 5px;
	}
}

.st-main-logo {
	height: 100px;
}

.st-login-box-content {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding-top: 20px;
	background-color: rgba(33, 89, 89, 0.07);
	form {
		padding-left: 23px;
	}
}

.st-login-box-footer {
	background-color: $color_spectra_approx;
	height: 60px;
	width: 550px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	p {
		color: rgb(202, 202, 206);
		text-align: right;
	}
	a {
		color: #fff;
	}
}