.st-primary {
    svg {
        fill: $color_spectra_approx;
    }
    color: $color_spectra_approx;
    background: none;
    background-color: $color_spectra_approx;
}

.st-white {
    svg {
        fill: white;
    }
}